body{
    //min-width: 100%;
    //min-height: 101%;
    overflow-x: hidden;
}
.container-fluid{
    -ms-scroll-snap-type: proximity;
    scroll-snap-type: proximity;
    scroll-snap-type: y proximity;
    overflow-x: hidden;
    //overflow-y: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
}

$phone: 320px;
$tablet: 768px;
$desktop: 1025px;
$hd: 1580px;
$uhd: 1920px;