:root{
    /////////////////COLOR
    --brand-red: hsl(10.9, 84.6%, 51.6%);
    --brand-green: hsl(80.3, 63.3%, 44.9%);
    --black: hsl(0, 4%, 9.8%);
    --white: hsl(0, 0%, 100%);

    /////////////////TIPOGRAPHY
    --font-primary: 'Noto Sans SC',sans-serif;
    --font-title: 'Roboto Slab', serif;
    --font-family-sans-serif: 'Noto Sans SC', sans-serif;
    
}

$font-sans: var(--font-primary);
$font-serif: var(--font-title);
$verde: var(--brand-green);
$rojo: var(--brand-red);
$blanco: var(--white);
$negro: var(--black);
