#mapa-tiendas {
    background-color: $negro;
    @include flex-column;

    .heading {
        @include flex-column;
        justify-content: center;
        height: 12.5rem;
        text-transform: none;
        line-height: 1.1;
        color: $blanco;
    }
    i{
        color: $rojo;
        margin-top: 1rem;
    }
}