#objetivos {
    @include section-default;
    margin-bottom: 15rem;
    .list-2{
        display: block;
    }
    .list-2-item{
        background-color: $blanco;
    }
        @include media(">=desktop"){
            min-height: auto;
            &::after{
                @include pseudo-absolute;
                    background: url("/img/hoja-1_crop.png") no-repeat right;
                    background-position-y: bottom;
                    bottom: -70vmin;
            }
            justify-content: center;
            padding-left: 25%;
            padding-right: 16%;
            .text{
                margin-left: -25%;
                align-self: flex-start;
                margin-bottom: 4em;
            }
            .list-2{
                display: flex;
            }
            .list-2-item{
                position: relative;
                .img-2{
                    margin-right: 1rem;
                    margin-bottom: 0;
                }
                &::after {
                    @include pseudo-absolute;
                    width: 100%;
                    height: 100%;
                    bottom: -1rem;
                    right: -1rem;
                    border-bottom: 10px solid $verde;
                    border-right: 10px solid $verde;
                    clip-path: polygon(80% 40%, 100% 40%, 100% 100%, 80% 100%);
                    -webkit-clip-path: polygon(80% 40%, 100% 40%, 100% 100%, 80% 100%);
                }
            }
        }
}