#oferta{
    @include section-default;
    
    //scroll-margin-top: -15rem;
    &::before{
        @include pseudo-absolute;
        background: url("/img/hoja-2_crop.png") no-repeat right;
        top: -75%;
        background-position-x: -370px;
    }
    &::after{
        @include pseudo-absolute;
        background: url("/img/rama-1.svg") no-repeat center;
        background-position-y: top;
        filter: blur(4px);
        z-index: -2;
    }
    .heading{
        color: $rojo;
        //padding-bottom: 7.5rem;
        margin-bottom: 1em;
    }
    @include media(">=desktop"){
        &::before{
            background: url("/img/hoja-2_desktop.png") no-repeat left;
            top: 0;
            left: 0;
            margin-left: -230px;
            margin-top: -15rem;
            background-position-y: bottom;
        }
        .heading{
            align-self: flex-start;
        }
    }
}  