#unirte{
    @include section-default;
    //scroll-margin-top: -15rem;
    margin-bottom: 260px;
        &::before {
            @include pseudo-absolute;
            background: url("/img/hoja-4.png") no-repeat top;
            background-position-x: 80vw;
        }
    &::after {
        @include pseudo-absolute;
        background: url("/img/rama-2.svg") no-repeat center;
        background-position-y: top;
        filter: blur(4px);
    }
    .heading{
        color: $verde;
        margin-bottom: 1em;
    }
    .heading-4{
        color: $rojo;
    }
    @include media(">=desktop") {
        .heading {
            align-self: flex-start;
            color: $rojo;
        }
        .text{
            align-self: flex-start;
        }
        &::after{
            height: 160%;
        }
    }
}