<section class="row" id="directorio">
        <div class="card-group">
            <h5 class="heading heading-5">Alorcón</h5>
            <div class="card ficha-tienda">
                <div class="card-picture">
                    <picture class="img-3">
                        <img src="/img/img-placeholder.png" data-src="/img/cards-tiendas/alma-ecologica-en-alcorcon.jpg" data-srcset="/img/cards-tiendas/alma-ecologica-en-alcorcon.jpg 1x" alt="tienda alma ecológica" class="img-fluid lazy">
                    </picture>
                </div>
                <h6 class="heading heading-6"><a href="https://www.facebook.com/tiendaalmaecologica">Alma Ecológica</a></h5>
                <address class="text-5">Av. del Oeste, 27. 28922</address>
                <div class="tienda-social">
                    <a href="https://www.facebook.com/tiendaalmaecologica"><i class="fab fa-facebook"></i></a> 
                </div>
            </div>
        </div>
        <div class="card-group">
            <h5 class="heading heading-5">Aranjuez</h5>
            <div class="card ficha-tienda">
                <div class="card-picture">
                    <picture class="img-3">
                        <img src="/img/img-placeholder.png" data-src="/img/cards-tiendas/ecoalimentacion.jpg" data-srcset="/img/cards-tiendas/ecoalimentacion.jpg 1x" alt="tienda ecoalimentación" class="img-fluid lazy">
                    </picture>
                </div>
                <h6 class="heading heading-6"><a href="#">Ecoalimentación Aranjuez</a></h5>
                <address class="text-5">Av. Plaza de Toros, 14. 28300</address>
                <div class="tienda-social">
                    <a href="https://www.facebook.com/ecoalimentacionaranjuez.productosecologicos"><i class="fab fa-facebook"></i></a> 
                    <a href="tel:+34 918 92 47 4"><i class="fas fa-phone-square"></i></a> 
                </div>
            </div>
        </div>
        <div class="card-group">
            <h5 class="heading heading-5">Arganda del Rey</h5>
            <div class="card ficha-tienda">
                <div class="card-picture">
                    <picture class="img-3">
                        <img src="/img/img-placeholder.png" data-src="/img/cards-tiendas/tu-rincon-ecologico.jpeg" data-srcset="/img/cards-tiendas/tu-rincon-ecologico.jpeg 1x" alt="" class="img-fluid lazy">
                    </picture>
                </div>
                <h6 class="heading heading-6"><a href="https://turinconecologico.com">Tu Rincón Ecológico</a></h6>
                <address class="text-5">C/ Portal de Belen, 35, local 2ª. 28500</address>
                <div class="tienda-social">
                    <a href="https://twitter.com/ri_ecologico"><i class="fab fa-twitter"></i></a> 
                    <a href="https://www.facebook.com/turinconecologico.es/"><i class="fab fa-facebook"></i></a> 
                    <a href="tel:+34 911 99 35 55"><i class="fas fa-phone-square"></i></a>
                </div>
            </div>
        </div>
        <div class="card-group">
            <h5 class="heading heading-5">Collado Villalba</h5>
            <div class="card ficha-tienda">
                <div class="card-picture">
                    <picture class="img-3">
                        <img src="/img/img-placeholder.png" data-src="/img/cards-tiendas/tuecologica.jpg" data-srcset="/img/cards-tiendas/tuecologica.jpg 1x" alt="tienda-tu ecologica" class="img-fluid lazy">
                    </picture>
                </div>
                <h6 class="heading heading-6"><a
                        href="http://www.tutiendaecologica.es/">Tu Ecológica</a>
                </h6>
                <address class="text-5">C/ Lola Gaos, s/n, local 5</address>
                <div class="tienda-social">
                    <a href="https://twitter.com/Tuecologica"><i class="fab fa-twitter"></i></a> 
                    <a href="https://www.facebook.com/pg/Tu-Ecol%C3%B3gica-832092570174340/about"><i class="fab fa-facebook"></i></a>  
                    <a href="tel:+34918552924"><i class="fas fa-phone-square"></i></a>
                </div>
            </div>
        </div>
        <div class="card-group">
            <h5 class="heading heading-5">Fuenlabrada</h5>
            <div class="card ficha-tienda">
                <div class="card-picture">
                    <picture class="img-3">
                        <img src="/img/img-placeholder.png" data-src="/img/cards-tiendas/lalechuga.jpg" data-srcset="/img/cards-tiendas/lalechuga.jpg 1x" alt="Ecotienda la Lechuga" class="img-fluid lazy">
                    </picture>
                </div>
                <h6 class="heading heading-6"><a href="http://lalechuga.es">Ecotienda la Lechuga</a></h6>
                <address class="text-5">C/ de la Lechuga s/n, (junto a la Plaza del Tesillo). 28944</address>
                <div class="tienda-social">
                    <a href="https://twitter.com/lalechugaeco/"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.facebook.com/people/Ecotienda-La-Lechuga/100011906565008/"><i class="fab fa-facebook"></i></a> 
                    <a href="tel:+34 675 73 70 42"><i class="fas fa-phone-square"></i></a>
                </div>
            </div>
        </div>
        <div class="card-group">
            <h5 class="heading heading-5">Getafe</h5>
            <div class="card ficha-tienda">
                <div class="card-picture">
                    <picture class="img-3">
                        <img src="/img/img-placeholder.png" data-src="/img/cards-tiendas/biolibere.jpg" data-srcset="/img/cards-tiendas/biolibere.jpg 1x" alt="tienda Biolibere" class="img-fluid lazy">
                    </picture>
                </div>
                <h6 class="heading heading-6"><a href="http://biolibere.es">Biolibere</a></h6>
                <address class="text-5">C/ Giralda, s/n</address>
                <div class="tienda-social">
                    <a href="https://twitter.com/Biolibere"><i class="fab fa-twitter"></i></a> 
                    <a href="https://www.facebook.com/biolibere.es"><i class="fab fa-facebook"></i></a>
                    <a href="tel:+34 912 060 323"><i class="fas fa-phone-square"></i></a>
                </div>
            </div>
        </div>
        <div class="card-group">
            <h5 class="heading heading-5">Leganés</h5>
            <div class="card ficha-tienda">
                <div class="card-picture">
                    <picture class="img-3">
                        <img src="/img/img-placeholder.png" data-src="/img/cards-tiendas/alegriadelahuerta.jpg" data-srcset="/img/cards-tiendas/alegriadelahuerta.jpg 1x" alt="tienda Alegría de la Huerta" class="img-fluid lazy">
                    </picture>
                </div>
                <h6 class="heading heading-6"><a href="https://mercaditoalegriadelahuerta.com">Mercadito Natural Alegría de
                        la Huerta</a></h6>
                <address class="text-5">C/ Pensamiento, 7</address>
                <div class="tienda-social">
                    <a href="https://www.instagram.com/huerta_alegria/"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com/Huertaalegria"><i class="fab fa-twitter"></i></a> 
                    <a href="https://www.facebook.com/mercaditonatural.alegriadelahuerta"><i class="fab fa-facebook"></i></a> 
                    <a href="tel:+34912883532"><i class="fas fa-phone-square"></i></a>
                </div>
            </div>
        </div>
        <div class="card-group" id="madrid">                
            <h5 class="heading heading-5">Madrid</h5>
            <div class="card ficha-tienda">
                <div class="card-picture">
                    <picture class="img-3">
                        <img src="/img/img-placeholder.png" data-src="/img/cards-tiendas/2decologico.jpg" data-srcset="/img/cards-tiendas/2decologico.jpg 1x" alt="2decológico" class="img-fluid lazy">
                    </picture>
                </div>
                <h6 class="heading heading-6"><a href="http://2decologico.org">2decológico</a></h6>
                <address class="text-5">C/ Noviciado, 9, local 4. 28015</address>
                <div class="tienda-social">
                    <a href="https://www.instagram.com/laosacoop/"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com/laosacoop"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.facebook.com/LaOsaCoop/"><i class="fab fa-facebook"></i></a>
                    <a href="tel:+34 911 689 657"><i class="fas fa-phone-square"></i></a> 
                </div>
            </div>
            <div class="card ficha-tienda">
                <div class="card-picture">
                    <picture class="img-3">
                        <img src="/img/img-placeholder.png" data-src="/img/cards-tiendas/albahacaecotienda.jpg" data-srcset="/img/cards-tiendas/albahacaecotienda.jpg 1x" alt="Albahaca Ecotienda" class="img-fluid lazy">
                    </picture>
                </div>
                <h6 class="heading heading-6"><a href="http://www.albahacaecotienda.com">Albahaca Ecotienda</a></h6>
                <address class="text-5">C/ Moratines, 16, local 3 bis. 28005</address>
                <div class="tienda-social">
                    <a href="https://www.instagram.com/albahacaecotienda/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/asociaciongrupoalbahaca"><i class="fab fa-facebook"></i></a>
                    <a href="tel:+34 91 082 48 98"><i class="fas fa-phone-square"></i></a> 
                </div>
            </div>
            <div class="card ficha-tienda">
                <div class="card-picture">
                    <picture class="img-3">
                        <img src="/img/img-placeholder.png" data-src="/img/cards-tiendas/artesanosdelsabor.png" data-srcset="/img/cards-tiendas/artesanosdelsabor.png 1x" alt="Artesanos del Sabobr" class="img-fluid lazy">
                    </picture>
                </div>
                <h6 class="heading heading-6"><a href="http://www.artesanosdelsabor.es">Artesanos del Sabor</a></h6>
                <address class="text-5">C/ Corregidor Alonso de Tobar, 16. 28030</address>
                <div class="tienda-social">
                    <a href="https://www.facebook.com/artesanosdelsabor.es"><i class="fab fa-facebook"></i></a> 
                    <a href="tel:+3491 115 33 64"><i class="fas fa-phone-square"></i></a>
                </div>
            </div>
            <div class="card ficha-tienda">
                <div class="card-picture">
                    <picture class="img-3">
                        <img src="/img/img-placeholder.png" data-src="/img/cards-tiendas/detrasdelarbol.jpg" data-srcset="/img/cards-tiendas/detrasdelarbol.jpg 1x" alt="tienda Detrás del Árbol" class="img-fluid lazy">
                    </picture>
                </div>
                <h6 class="heading heading-6"><a href="https://www.detrasdelarbol.org">Detrás del árbol</a></h6>
                <address class="text-5">C/ Corregidor José de Pasamonte, 14. 28030</address>
                <div class="tienda-social">
                    <a href="https://www.facebook.com/detrasdelarboleco"><i class="fab fa-facebook"></i></a> 
                    <a href="tel:+3491 0813240"><i class="fas fa-phone-square"></i></a> 
                </div>
            </div>
            <div class="card ficha-tienda">
                <div class="card-picture">
                    <picture class="img-3">
                        <img src="/img/img-placeholder.png" data-src="/img/cards-tiendas/elmercadobueno.png" data-srcset="/img/cards-tiendas/elmercadobueno.png 1x" alt="El mercado bueno" class="img-fluid lazy">
                    </picture>
                </div>
                <h6 class="heading heading-6"><a href="#">El Mercado Bueno</a></h6>
                <address class="text-5">C/ Narváez, 59. 28009</address>
                <div class="tienda-social">
                    <a href="https://www.facebook.com/elmercadobueno"><i class="fab fa-facebook"></i></a>
                    <a href="tel:+34 914 49 57 41"><i class="fas fa-phone-square"></i></a> 
                </div>
            </div>
            <div class="card ficha-tienda">
                <div class="card-picture">
                    <picture class="img-3">
                        <img src="/img/img-placeholder.png" data-src="/img/cards-tiendas/esderaiz.jpg" data-srcset="/img/cards-tiendas/esderaiz.jpg 1x" alt="tienda Es de Raiz" class="img-fluid lazy">
                    </picture>
                </div>
                <h6 class="heading heading-6"><a href="https://esderaiz.com">Es de Raíz</a></h6>
                <address class="text-5">Mercado de Sta Mª de la Cabeza, planta baja, local 20. 28045</address>
                <div class="tienda-social">
                    <a href="https://www.instagram.com/esderaiz/"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com/EsDeRaiz"><i class="fab fa-twitter"></i></a> 
                    <a href="https://www.facebook.com/EsDeRaiz"><i class="fab fa-facebook"></i></a> 
                    <a href="tel:+34910176891"><i class="fas fa-phone-square"></i></a> 
                </div>
            </div>
            <div class="card ficha-tienda">
                <div class="card-picture">
                    <picture class="img-3">
                        <img src="/img/img-placeholder.png" data-src="/img/cards-tiendas/la-tienda-de-la-abuela.jpg" data-srcset="/img/cards-tiendas/la-tienda-de-la-abuela.jpg 1x" alt="" class="img-fluid lazy">
                    </picture>
                </div>
                <h6 class="heading heading-6"><a href="https://www.latiendadelaabuela.com">La Tienda de la Abuela</a></h6>
                <address class="text-5">C/ Sierra Morena, 31. 28031</address>
                <div class="tienda-social">
                    <a href="https://www.instagram.com/latiendadelaabuela/"><i class="fab fa-instagram"></i></a> 
                    <a href="https://www.facebook.com/LaTiendadelaAbuela31"><i class="fab fa-facebook"></i></a> 
                    <a href="tel:+34 656 25 33 21"><i class="fas fa-phone-square"></i></a> 
                </div>
            </div>
            <div class="card ficha-tienda">
                <div class="card-picture">
                    <picture class="img-3">
                        <img src="/img/img-placeholder.png" data-src="/img/cards-tiendas/tomatomates.jpg" data-srcset="/img/cards-tiendas/tomatomates.jpg 1x" alt="tienda Tomatomates" class="img-fluid lazy">
                    </picture>
                </div>
                <h6 class="heading heading-6"><a href="http://www.tomatomates.es">Tomatomates</a></h6>
                <address class="text-5">Av. Parque Palomeras Bajas, 19, local 18. 28018</address>
                <div class="tienda-social">
                    <a href="https://www.facebook.com/tomatomates"><i class="fab fa-facebook"></i></a> 
                    <a href="tel:+34 91 246 60 00"><i class="fas fa-phone-square"></i></a> 
                </div>
            </div>
        </div>
        <div class="card-group">
            <h5 class="heading heading-5">Tietar</h6>
            <div class="card ficha-tienda">
                <div class="card-picture">
                    <picture class="img-3">
                        <img src="/img/img-placeholder.png" data-src="/img/cards-tiendas/huertosostenible.jpg" data-srcset="/img/cards-tiendas/huertosostenible.jpg 1x" alt="" class="img-fluid lazy">
                    </picture>
                </div>
                <h6 class="heading heading-6"><a href="https://www.huertosostenible.com">Huerto Sostenible</a></h6>
                <address class="text-5">C/ Golondrina, 41</address>
                <div class="tienda-social">
                    <a href="https://twitter.com/huerto_sostenib"><i class="fab fa-twitter"></i></a> 
                    <a href="https://www.facebook.com/huertosostenible"><i class="fab fa-facebook"></i></a> 
                    <a href="tel:+34 927 550 732"><i class="fas fa-phone-square"></i></a> 
                </div>
            </div>
        </div>
        <div class="card-group">
            <h5 class="heading heading-5">Paracuellos del Jarama</h6>
            <div class="card ficha-tienda">
                <div class="card-picture">
                    <picture class="img-3">
                        <img src="/img/img-placeholder.png" data-src="/img/cards-tiendas/Divina-natura.jpg" data-srcset="/img/cards-tiendas/Divina-natura.jpg 1x" alt="foto Divina Natura" class="img-fluid lazy">
                    </picture>
                </div>
                <h6 class="heading heading-6"><a href="http://www.divinanatura.com">Divina Natura</a></h6>
                <address class="text-5">C/ Chorrillo Alta, 29. 28860</address>
                <div class="tienda-social">
                        <a href="https://www.instagram.com/divina_natura/"><i class="fab fa-instagram"></i></a> 
                        <a href="https://www.facebook.com/Divina-Natura-Espacio-Ecol%C3%B3gico--195108467326117/"><i class="fab fa-facebook"></i></a> 
                        <a href="tel:+34 916 58 27 49"><i class="fas fa-phone-square"></i></a> 
                </div>
            </div>
        </div>
        <div class="card-group">
            <h5 class="heading heading-5">San Fernando de Henares</h6>
            <div class="card ficha-tienda">
                <div class="card-picture">
                    <picture class="img-3">
                        <img src="/img/img-placeholder.png" data-src="/img/cards-tiendas/ecotienda-alegre.jpg" data-srcset="/img/cards-tiendas/ecotienda-alegre.jpg 1x" alt="" class="img-fluid lazy">
                    </picture>
                </div>
                <h6 class="heading heading-6"><a href="http://ecotiendaalegre.blogspot.com">Ecotienda Alegre</a></h5>
                <address class="text-5">C/ De la huerta 3. 28830</address>
                <div class="tienda-social">
                        <a href="https://www.instagram.com/ecotiendaalegre/"><i class="fab fa-instagram"></i></a> 
                        <a href="https://www.facebook.com/ecotiendaalegre/"><i class="fab fa-facebook"></i></a> 
                        <a href="tel:+34 911 29 62 17"><i class="fas fa-phone-square"></i></a>
                </div>
            </div>
        </div>
        <div class="card-group">
            <h5 class="heading heading-5">San Sebastián de los Reyes</h5>
            <div class="card ficha-tienda">
                <div class="card-picture">
                    <picture class="img-3">
                        <img src="/img/img-placeholder.png" data-src="/img/cards-tiendas/Bodevici.jpg" data-srcset="/img/cards-tiendas/Bodevici.jpg 1x" alt="" class="img-fluid lazy">
                    </picture>
                </div>
                <h6 class="heading heading-6"><a href="http://www.bodevici.es/inici/productos">Bodevici</a></h6>
                <address class="text-5">C/ Calle María Moliner, 10. 28702</address>
                <div class="tienda-social">
                        <a href="https://www.facebook.com/BodeviciMaimaDhara"><i class="fab fa-facebook"></i></a> 
                        <a href="tel:+34 912 77 50 76"><i class="fas fa-phone-square"></i></a> 
                </div>
            </div>
        </div>
        <div class="card-group">
            <h5 class="heading heading-5">Torrejón de Ardoz</h5>
            <div class="card ficha-tienda">
                <div class="card-picture">
                    <picture class="img-3">
                        <img src="/img/img-placeholder.png" data-src="/img/cards-tiendas/ecologicosbuenasemilla.png" data-srcset="/img/cards-tiendas/ecologicosbuenasemilla.png 1x" alt="" class="img-fluid lazy">
                    </picture>
                </div>
                <h6 class="heading heading-6"><a href="http://www.ecologicosdebuenasemilla.com">Ecológicos de Buena
                        Semilla</a></h6>
                <address class="text-5">C/ Madrid, 11. 28850</address>
                <div class="tienda-social">
                        <a href="https://www.instagram.com/ecologicos_de_buena_semilla/"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/ecologicosdebuenasemilla/"><i class="fab fa-facebook"></i></a> 
                        <a href="tel:+34 917 957 099"><i class="fas fa-phone-square"></i></a> 
                </div>
            </div>
        </div>
    </section>