<section class="row" id="intro">
    <div class="logo">
        <img class="img-fluid" src="/img/madbi_logo.svg" alt="MadrizBio Logo">
    </div>
    <div class="text-container">
        <p class="col-md text text-1">MADRIZBIO somos una <strong>cooperativa de tiendas de Madrid</strong> comprometidas con una <strong> alimentación saludable y sostenible,</strong> y
        con una forma de hacer comercio más justa y más humana.</p>
        <p class="text text-2 d-none d-lg-block">Creemos que la base para tener una buena salud pasa por una alimentación ecológica, de calidad y de cercanía, porque
        respetando nuestro entorno también cuidamos de nuestra salud.</p>
    </div>
    <side class="col botones">
        <button type="button" class="btn btn-light" onclick="window.location.href='#oferta';">conócenos</button>
        <button type="button" class="btn btn-light" onclick="window.location.href='#mapa-tiendas';">ubícanos</button>
        <button type="button" class="btn btn-light" onclick="window.location.href='#contacto';">contáctanos</button>
    </side>
    <a class="down-button d-none d-md-block" href="#objetivos"><i class="fas fa-chevron-down"></i></a>
</section>