@mixin section-default {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
    width: 80vw;
    max-width: 1920px;
    padding: 5vh 0;
    position: relative;
    overflow: visible;
    scroll-snap-align: start;
}
@mixin pseudo-absolute {
        content: "";
        position: absolute;
        width: 100vw;
        height: 120%;
        z-index: -1;
        //background-size: cover;
}

@mixin img-alt {
    font-size: .5rem;
    font-weight: 400;
    color: gray;
    //border: 1px solid black;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin background-transparent {
    background-color: rgba(255, 255, 255, .68);
}