.img-1{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    object-fit: cover;
    @include img-alt;
    @include media(">=desktop"){
        width: 10rem;
        height: 10rem;
    }
}
.img-2 {
    width: 6rem;
    height: 6rem;
    @include img-alt;
    fill: $verde
}

.logo {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 3rem;
    flex: 0 0 auto;
}

.img-fluid{
    object-fit: cover;
}