.img-1{
    width: 9rem;
    height: 9rem;
    @include img-alt;
}
.img-2 {
    width: 6rem;
    height: 6rem;
    @include img-alt;
}

.logo {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 3rem;
    flex: 0 0 auto;
}