.list-1 {
    @include flex-column;

    &-item {
        @include flex-column;
        padding-left: 3rem !important;
        margin-left: 3rem;
        &:not(:last-of-type) {
            margin-bottom: 1.75rem;
        }
        img{
            margin-left: -6rem;
            -webkit-clip-path: polygon(100% 0, 100% 53%, 50% 53%, 50% 100%, 0 100%, 0 0);
            clip-path: polygon(100% 0, 100% 53%, 50% 53%, 50% 100%, 0 100%, 0 0);
        }
        .heading-4 {
            margin-top: -50px;
        }
    }
    @include media(">=desktop") {
        flex-direction: row;
        justify-content: flex-end;
        &-item{
            max-width: 40%;
            padding-left: 10em;
        }
    }
}

.list-2 {
    @include flex-column;

    &-item {
        @include flex-column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        padding: 0 10%;

        &:not(:last-of-type) {
            margin-bottom: 1.625rem;
        }
        .list-2-text {
            min-width: 248px;
            max-width: 360px;
        }
    }
        @include media(">=desktop") {
            flex-direction: row;
            justify-content: flex-end;
            //padding-left: 25%;
            &-item{
                flex-direction: row;
                text-align: left;
                flex: 0 0 auto;
                justify-content: flex-end;
                img{
                    flex: 0 0 auto;
                }
            }
        }
}