.text{
    font-family: var(--font-primary);
    line-height: 1.66;
    font-weight: 400;
    &-1{
        font-size: 1.25rem;
        background-color: $blanco;
    }
    &-2{
        font-size: 1rem;
    }
    &-3{
        font-size: .875rem;
    }
    &-4{
        font-family: $font-serif;
        color: $verde;
    }
    &-5{
        font-family: $font-serif;
        font-size: .625rem;
        line-height: 1.3;
    }
    @include media(">=desktop") {
        &-1 {
            font-size: 2rem;
            line-height: 1.4375;
        }
        &-2 {
            font-size: 1.5rem;
        }
        &-3 {
            font-size: 1.125rem;
            font-weight: 100;
        }
        &-4{
            font-size: 1.125rem;
            font-weight: 400;
        }
        &-5{
            font-size: 1rem;
        }
    }
}

.heading{
    font-family: var(--font-title);
    text-transform: uppercase;
    line-height: .95;
    &-1{
        font-size: 3.375rem;
        font-weight: 800;

    }
    &-2{
        font-size: 3.375rem;
        font-weight: 100;
    }
    &-3{
        font-size: 1.75rem;
        text-align: center;
    }
    &-4{
        font-family: $font-sans;
        font-weight: 800;
        font-size: 1.25rem;
    }
    &-5{
        font-size: 4vmax;
        font-weight: 100;
        padding-right: 1em;
        text-transform: capitalize;
        text-decoration: underline;
    }
    &-6{
        font-size: .85rem;
        font-weight: 800;
        text-transform: capitalize;
        line-height: 1.33;
        a {
            color: $blanco;
            transition: all 200ms ease-out;
            &:hover {
                color: $verde;
                filter: drop-shadow(0 0 2px rgba(0,0,0,.25));
            }
        }
    }
    @include media(">=tablet"){
        &-5 {
            font-size: 3vmin;
        }
    }
    @include media(">=desktop"){
        &-1 {
            font-size: 3.5rem;
        }

        &-2 {
            font-size: 6.875rem;
            display: block;
        }

        &-3 {
            font-size: 3.5rem;
            font-weight: 100;
            letter-spacing: .015em;
        }

        &-4 {}
        &-5 {
            font-size: 4vmin;
            text-decoration: none;
            text-align: center;
            z-index: 10;
        }
        &-6{
            font-size: 1rem;
            margin-top: .5rem;
            margin-bottom: .25rem;
        }
    }
}